body {
    background: linear-gradient(45deg, #46d5fc, #fbe540);
    height: 100vh;
    font-family: "Montserrat", sans-serif;
}

._widget section._prompt-box-outer>div:nth-of-type(1) {
    background-color: rgba(255, 255, 255, 0.35);
    backdrop-filter: blur(7px);
    -webkit-backdrop-filter: blur(7px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: rgba(142, 142, 142, 0.19) 0px 6px 15px 0px;
    -webkit-box-shadow: rgba(142, 142, 142, 0.19) 0px 6px 15px 0px;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    color: rgb(255, 255, 255);
}

._widget section p {
    font-weight: 500;
    color: #fff;
    opacity: 0.7;
    font-size: 1.4rem;
    margin-top: 0;
    margin-bottom: 60px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

input {
    background: transparent;
}

div.text,
div.password {
    color: #fff;
    background-color: rgba(255, 255, 255, 0.06);
    border: 1px solid rgba(255, 255, 255, 0.1);
    width: 100%;
    border-radius: 15px;
    backdrop-filter: blur(10px);
}

::placeholder {
    color: #cdd;
}

.js-required {
    background-color: rgb(255, 255, 255, 0.01) !important;
}

button {
    background-color: rgba(255, 255, 255, 0.1) !important;
    border: 1px solid rgba(255, 255, 255, 0.1) !important;
    backdrop-filter: blur(4.5px) !important;
    -webkit-backdrop-filter: blur(4.5px);

    display: inline-block;
    padding: 0.8em 3em;

    /* 背景色 */
    background-color: #3f9d7f;
    /* 影の太さ・色 */
    box-shadow: 0 5px 0 #3f9d7f;

    border-radius: 60px;
    color: #fff;
    cursor: pointer;
    /* 文字の下線を消す */
    text-decoration: none;

    /* ボタンの文字サイズを合わせる */
    font-size: 100%;

}

/* ボタンクリック時沈むアクション */
button:active {
    box-shadow: none;
    transform: translateY(5px);
}

#login {
    width: 300px;
    height: 100px;
    color: #3f9d7f;
    font-size: 20px;
}

.login_wrap {
    margin: 0 auto;
    width: 100%;
    max-width: 500px;

}


.hello {
    font-size: 70px;
    color: rgba(165, 246, 219, 0.714);
}